* {
                margin: 0px;
                padding: 0px;
                
                color: rgb(223, 223, 223);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: medium;
            }

            ul {
                list-style-type: none;
                position: sticky;
                top: 0px;
                overflow: hidden;
                background-color: rgb(23, 23, 23);
            }

            ul li {
                display: flex;
                padding: 20px;
                text-align: center;
                float: right;
                height: 54px;
                align-items: center;

                font-size: large;
                font-weight: 600;
                letter-spacing: 0.1px;
            }

            ul li:first-child {
                float: left;
                padding-left: 100px;
            }
